.button {
  padding: 16px 24px;
  background: var(--dark-colors-gradient);
  font-size: 18px;
  border: none;
  font-weight: 400;
  color: white;
  margin: 3px;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  &::before {
    background-color: var(--dark-colors-12);
    border-radius: 10px;
    flex: 1;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px 0px 0px 1px;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
  }
}
