@import './colors.scss';
@import './fonts.scss';

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background: var(--dark-colors-03);
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
