.main {
  color: var(--white);
  .hero {
    padding: 80px 162px;
    position: relative;
    background: none;
    border-top: 1px solid var(--dark-colors-12);
    border-bottom: 1px solid var(--dark-colors-12);
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title_section {
      font-size: inherit;
      &__role {
        font-size: 1.5em;
      }
      &__title {
        font-weight: 500;
        font-size: 5em;
      }
    }

    &__lets_work {
      font-size: inherit;
      display: flex;
      gap: 10px;
      flex-direction: column;
      &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 3.625em;
        font-weight: 600;
        white-space: pre;
      }
    }

    &__background {
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: -1;
    }
  }

  .about_me {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    .details_list {
      display: flex;
      flex-direction: column;
      border-radius: 20px;

      .details {
        max-width: 700px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--dark-colors-12);

        &:first-child {
          border-radius: 20px 20px 0px 0px;
        }

        &:last-child {
          border-radius: 0px 0px 20px 20px;
        }

        &__title {
          font-size: 1.875em;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
        }

        &__desc {
          font-size: 1.125em;
          font-weight: 400;
        }

        &__extra_desc {
          color: var(--grey-70);
        }

        &__actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          &__buttons {
            display: flex;
            gap: 16px;
            &__button {
              font-size: 1.125em;
            }
          }
        }
      }
    }

    &__img_container {
      position: relative;
      height: fit-content;
      &__img {
        border-radius: 17px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        width: 30%;
        height: 30%;
        border: 20px solid var(--dark-colors-03);
        border-bottom-right-radius: 150px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: -20px;
        width: 30%;
        height: 30%;
        border: 20px solid var(--dark-colors-03);
        border-top-left-radius: 150px;
      }
    }
  }

  .socials {
    display: flex;
    gap: 8px;
    border: 1px solid var(--dark-colors-12);
    width: max-content;
    padding: 10px;
    border-radius: 100px;

    &__social {
      background-color: var(--dark-colors-12);
      border-radius: 100px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 20px;
        height: 20px;
      }

      &::before {
        border-radius: 100px;
      }
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .experience_section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 16px;

    .technologies {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 26px;
      .technology {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        &__img {
          object-fit: contain;
          width: 60px;
          height: 60px;
          padding: 20px;
          background-color: var(--dark-colors-30);
          border-radius: 100px;
        }
      }
    }

    .experiences {
      flex: 1;
      .experience {
        display: flex;
        gap: 60px;
        align-items: baseline;
        justify-content: center;
        font-weight: 600;

        &__timeline {
          font-size: 1.5em;
        }

        &__details {
          display: flex;
          flex-direction: column;
          &__company {
            font-size: 1.5em;
          }
          &__role {
            font-size: 1em;
            color: var(--grey-70);
          }
        }
      }
    }
  }

  .bottom_logo {
    display: flex;
    padding: 0px 20px 40px 0px;
    opacity: 0.1;
    margin-left: auto;
  }

  @media only screen and (max-width: 1440px) {
    .hero {
      padding: 60px 40px;
      font-size: 12px;
    }

    .socials {
      flex: none;
      padding: 6px;
      gap: 6px;
      &__social {
        width: 40px;
        height: 40px;
        padding: 0px;
        img {
          width: 16px;
          height: 16px;
        }
        &::before {
          border-radius: 100px;
        }
      }
    }

    .about_me {
      .details_list {
        .details {
          padding: 30px;
          font-size: 14.3px;
          &__actions {
            font-size: 13px;
          }
        }
      }
      &__img_container,
      &__img_container__img {
        max-height: 485px;
        max-width: 530px;
      }
    }
  }

  @media only screen and (max-width: 1170px) {
    .hero {
      font-size: 10px;
    }

    .about_me {
      .details_list {
        .details {
          padding: 20px;
          font-size: 12.3px;
          &__actions {
            font-size: 11px;
          }
        }
      }
    }

    .experience_section {
      font-size: 16px;

      .technologies {
        .technology {
          &__img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .experiences {
        font-size: 14px;
      }
    }

    .bottom_logo {
      max-width: 700px;
    }
  }

  @media only screen and (max-width: 1170px) {
    .about_me {
      &__img_container,
      &__img_container__img {
        max-height: 385px;
        max-width: 430px;
      }
    }
  }

  @media only screen and (max-width: 955px) {
    .about_me {
      flex-direction: column;
      &__img_container,
      &__img_container__img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .hero {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &__background {
      }
    }

    .experience_section {
      flex-direction: column-reverse;
      .experiences {
        flex: 1;
        .experience {
          justify-content: flex-start;
        }
      }
      .technologies {
        justify-content: center;
      }
    }
    .bottom_logo {
      max-width: 400px;
      padding-bottom: 0px;
    }
  }

  @media only screen and (max-width: 580px) {
    .hero {
      font-size: 8px;
      padding: 60px 16px;

      &__lets_work {
        &__arrow {
          padding: 10px 25px;
        }
      }
    }

    .about_me {
      .details_list {
        .details {
          &__actions {
            gap: 20px;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 475px) {
    .about_me {
      .details_list {
        .details {
          &__actions {
            flex-direction: column;
            align-items: flex-start;
            &__buttons {
              width: 100%;
              flex: 1;
              flex-direction: column;
              &__button {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .experience_section {
      .experiences {
        .experience {
          gap: 20px;
        }
      }
    }
    .bottom_logo {
      max-width: 250px;
      padding-bottom: 0px;
    }
  }
}
