.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 125px;
  padding: 0px 40px;
  border-right: 1px solid var(--dark-colors-12);
  border-left: 1px solid var(--dark-colors-12);
  background-color: var(--dark-colors-03);

  .nav {
    &__list {
      display: flex;
      padding-top: 32px;
    }

    &__list_item {
      overflow: hidden;
      border: 1px solid var(--dark-colors-12);
      &:last-child {
        border-top-right-radius: 10px;
      }

      &:first-child {
        border-top-left-radius: 10px;
      }
    }

    &__list_anchor {
      display: flex;
      padding: 30px 40px;
      background-color: transparent;
      color: var(--grey-70);

      &:hover {
        cursor: pointer;
        background-color: var(--dark-colors-08);
        color: var(--white);
      }
    }

    &__list_anchor--active {
      background-color: var(--dark-colors-08);
      color: var(--white);
    }
  }

  @media only screen and (max-width: 1440px) {
    margin: 0px 62px;
  }

  @media only screen and (max-width: 1440px) {
    margin: 0px 62px;
  }
}
