---
import Navbar from '@/components/Navbar/Navbar.astro'
import '@/styles/global.scss'
import { Particles } from '@/components/Particles/Particles'
import { AnimatedList } from '@/components/AnimatedList/AnimatedList'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Navbar />
    <slot />
    <Particles
      client:load
      className="fixed w-full h-full inset-0 z-0"
      quantity={100}
      ease={80}
      color={'#4a2ced'}
      refresh
    />
  </body>
</html>
